# Database
MONGODB_URI=

# Server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

# Session
SESSION_SECRET=

# GitHub
GITHUB_USERNAME=arcange9

# Media storage (configure later)
MEDIA_STORAGE_PROVIDER=
MEDIA_STORAGE_API_KEY=
MEDIA_STORAGE_API_SECRET=
